{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search Results
{% endblock %}

{% block body %}
    <h1>You searched for...</h1>  
    {% if query %}          
        {% if entry %}

            {% for item in entry %}
                <a href="{% url 'page' item %}" >{{ item }}</a><br>
            {% endfor %}   
        
        {% else %}

            <p> {{ query }} not found. Try searching again</p>

        {% endif %}     

    {% else %}
        <p> 404 </p>
    {% endif %}


{% endblock %}